:root {
    --base-font-size: 13px;
    font-size: var(--base-font-size);
    --background-light: rgba(245, 245, 245, 0.2);
    --background-dark: rgba(24, 24, 25, 0.16);
    --background: var(--background-light);
    --background-code: rgba(245, 245, 245, 0.4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--background-dark);
        --background-code: rgba(24, 24, 26, 0.35);
    }
}

#markdown-rendered {
    color: -apple-system-label;
    font-family: system-ui;
    font-size: 1.03rem;
    line-height: 1.5;
    word-wrap: break-word;
}

#markdown-rendered details,
#markdown-rendered figcaption,
#markdown-rendered figure {
    display: block;
}

#markdown-rendered summary {
    display: list-item;
}

#markdown-rendered [hidden] {
    display: none !important;
}

#markdown-rendered a {
    background-color: transparent;
    color: -apple-system-blue;
    text-decoration: none;
}

#markdown-rendered abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

#markdown-rendered b,
#markdown-rendered strong {
    font-weight: 600;
}

#markdown-rendered dfn {
    font-style: italic;
}

#markdown-rendered h1 {
    margin: .67em 0;
    font-weight: 600;
    font-size: 2rem;
}

#markdown-rendered mark {
    background-color: -apple-system-yellow;
}

#markdown-rendered small {
    font-size: 0.9rem;
}

#markdown-rendered sub,
#markdown-rendered sup {
    font-size: 0.75rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

#markdown-rendered sub {
    bottom: -0.25em;
}

#markdown-rendered sup {
    top: -0.5em;
}

#markdown-rendered img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
}

#markdown-rendered code,
#markdown-rendered kbd,
#markdown-rendered pre,
#markdown-rendered samp {
    font-family: ui-monospace;
    font-size: 1em;
}

#markdown-rendered figure {
    margin: 1em 2.5rem;
}

#markdown-rendered hr {
    box-sizing: content-box;
    overflow: hidden;
    padding: 0;
    margin: 1.5rem 0;
    border: 0;
    border-bottom: thin solid -apple-system-separator;
}

#markdown-rendered input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#markdown-rendered [type=checkbox],
#markdown-rendered [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

#markdown-rendered a:hover {
    text-decoration: underline;
}

#markdown-rendered hr::before {
    display: table;
    content: "";
}

#markdown-rendered hr::after {
    display: table;
    clear: both;
    content: "";
}

#markdown-rendered details summary {
    cursor: pointer;
}

#markdown-rendered details:not([open])>*:not(summary) {
    display: none !important;
}

#markdown-rendered a:focus,
#markdown-rendered [role=button]:focus,
#markdown-rendered input[type=radio]:focus,
#markdown-rendered input[type=checkbox]:focus {
    outline: 2px solid -apple-system-blue;
    outline-offset: -2px;
    box-shadow: none;
}

#markdown-rendered a:focus:not(:focus-visible),
#markdown-rendered [role=button]:focus:not(:focus-visible),
#markdown-rendered input[type=radio]:focus:not(:focus-visible),
#markdown-rendered input[type=checkbox]:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}

#markdown-rendered a:focus-visible,
#markdown-rendered [role=button]:focus-visible,
#markdown-rendered input[type=radio]:focus-visible,
#markdown-rendered input[type=checkbox]:focus-visible {
    outline: 2px solid -apple-system-blue;
    outline-offset: -2px;
    box-shadow: none;
}

#markdown-rendered a:not([class]):focus,
#markdown-rendered a:not([class]):focus-visible,
#markdown-rendered input[type=radio]:focus,
#markdown-rendered input[type=radio]:focus-visible,
#markdown-rendered input[type=checkbox]:focus,
#markdown-rendered input[type=checkbox]:focus-visible {
    outline-offset: 0;
}

#markdown-rendered kbd {
    display: inline-block;
    padding: 0.1875rem 0.3125rem;
    font: 0.6875rem ui-monospace;
    line-height: 0.625rem;
    vertical-align: middle;
    background-color: var(--background);
    border: solid thin -apple-system-separator;
    border-radius: 0.375rem;
}

#markdown-rendered h1,
#markdown-rendered h2,
#markdown-rendered h3,
#markdown-rendered h4,
#markdown-rendered h5,
#markdown-rendered h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.25;
}

#markdown-rendered h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

#markdown-rendered h3 {
    font-weight: 600;
    font-size: 1.25rem;
}

#markdown-rendered h4 {
    font-weight: 600;
    font-size: 1rem;
}

#markdown-rendered h5 {
    font-weight: 600;
    font-size: 0.875rem;
}

#markdown-rendered h6 {
    font-weight: 600;
    font-size: 0.85rem;
    color: -apple-system-secondary-label;
}

#markdown-rendered p {
    margin-top: 0;
    margin-bottom: 0.625rem;
}

#markdown-rendered blockquote {
    margin: 0;
    padding: 0 1em;
    color: -apple-system-secondary-label;
    border-left: thin solid -apple-system-separator;
}

#markdown-rendered ul,
#markdown-rendered ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

#markdown-rendered ol ol,
#markdown-rendered ul ol {
    list-style-type: lower-roman;
}

#markdown-rendered ul ul ol,
#markdown-rendered ul ol ol,
#markdown-rendered ol ul ol,
#markdown-rendered ol ol ol {
    list-style-type: lower-alpha;
}

#markdown-rendered dd {
    margin-left: 0;
}

#markdown-rendered tt,
#markdown-rendered code,
#markdown-rendered samp {
    font-family: ui-monospace;
    font-size: 0.92rem;
}

#markdown-rendered pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace;
    font-size: 0.92rem;
    word-wrap: normal;
    overflow-x: scroll;
    padding: 0.92rem;
    background-color: var(--background);
    border-radius: 0.5rem;
    border: thin solid -apple-system-separator;
}

#markdown-rendered::before {
    display: table;
    content: "";
}

#markdown-rendered::after {
    display: table;
    clear: both;
    content: "";
}

#markdown-rendered a:not([href]) {
    color: inherit;
    text-decoration: none;
}

#markdown-rendered p,
#markdown-rendered blockquote,
#markdown-rendered ul,
#markdown-rendered ol,
#markdown-rendered dl,
#markdown-rendered table,
#markdown-rendered pre,
#markdown-rendered details {
    margin-top: 0;
    margin-bottom: 0.875rem;
}

#markdown-rendered blockquote>:first-child {
    margin-top: 0;
}

#markdown-rendered blockquote>:last-child {
    margin-bottom: 0;
}

#markdown-rendered h1 tt,
#markdown-rendered h1 code,
#markdown-rendered h2 tt,
#markdown-rendered h2 code,
#markdown-rendered h3 tt,
#markdown-rendered h3 code,
#markdown-rendered h4 tt,
#markdown-rendered h4 code,
#markdown-rendered h5 tt,
#markdown-rendered h5 code,
#markdown-rendered h6 tt,
#markdown-rendered h6 code {
    padding: 0 .2em;
    font-size: inherit;
}

#markdown-rendered summary h1,
#markdown-rendered summary h2,
#markdown-rendered summary h3,
#markdown-rendered summary h4,
#markdown-rendered summary h5,
#markdown-rendered summary h6 {
    display: inline-block;
}

#markdown-rendered summary h1,
#markdown-rendered summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}

#markdown-rendered ol[type=a] {
    list-style-type: lower-alpha;
}

#markdown-rendered ol[type=A] {
    list-style-type: upper-alpha;
}

#markdown-rendered ol[type=i] {
    list-style-type: lower-roman;
}

#markdown-rendered ol[type=I] {
    list-style-type: upper-roman;
}

#markdown-rendered ol[type="1"] {
    list-style-type: decimal;
}

#markdown-rendered div>ol:not([type]) {
    list-style-type: decimal;
}

#markdown-rendered ul ul,
#markdown-rendered ul ol,
#markdown-rendered ol ol,
#markdown-rendered ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

#markdown-rendered li>p {
    margin-top: 1rem;
}

#markdown-rendered li+li {
    margin-top: 0.25em;
}

#markdown-rendered dl {
    padding: 0;
}

#markdown-rendered dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

#markdown-rendered dl dd {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

#markdown-rendered table {
    border-spacing: 0;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border: thin solid -apple-system-separator;
    border-radius: 0.5rem;
    background-color: var(--background);
}

#markdown-rendered td,
#markdown-rendered th {
    padding: 0;
}

#markdown-rendered table th {
    font-weight: 500;
    border-bottom: thin solid -apple-system-separator;
}

#markdown-rendered table th,
#markdown-rendered table td {
    padding: 0.25rem 0 0.25rem 1rem;
}

#markdown-rendered table th:first-child,
#markdown-rendered table td:first-child {
    padding-left: 0.75rem;
}

#markdown-rendered table th:last-child,
#markdown-rendered table td:last-child {
    padding-right: 0.75rem;
}

#markdown-rendered table > tbody > tr:nth-child(odd) > td {
    background-color: -apple-system-even-alternating-content-background;
}

#markdown-rendered table > tbody > tr:nth-child(even) > td {
    background-color: -apple-system-odd-alternating-content-background;
}

#markdown-rendered img[align=right] {
    padding-left: 1.25rem;
}

#markdown-rendered img[align=left] {
    padding-right: 1.25rem;
}

#markdown-rendered code,
#markdown-rendered tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--background-code);
    border-radius: 0.375rem;
}

#markdown-rendered code br,
#markdown-rendered tt br {
    display: none;
}

#markdown-rendered del code {
    text-decoration: inherit;
}

#markdown-rendered samp {
    font-size: 85%;
}

#markdown-rendered pre code {
    font-size: 100%;
}

#markdown-rendered pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

#markdown-rendered pre code,
#markdown-rendered pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

#markdown-rendered .task-list-item {
    list-style-type: none;
}

#markdown-rendered .task-list-item label {
    font-weight: 400;
}

#markdown-rendered .task-list-item.enabled label {
    cursor: pointer;
}

#markdown-rendered .task-list-item+.task-list-item {
    margin-top: 0.25rem;
}

#markdown-rendered .task-list-item .handle {
    display: none;
}

#markdown-rendered .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.4em;
    vertical-align: middle;
}

#markdown-rendered .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em 0.25em 0.2em;
}

#markdown-rendered .contains-task-list {
    position: relative;
}

#markdown-rendered .contains-task-list:hover .task-list-item-convert-container,
#markdown-rendered .contains-task-list:focus-within .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 1.5rem;
    overflow: visible;
    clip: auto;
}

#markdown-rendered .code-block-wrapper {
    position: relative;
}

#markdown-rendered .copy-code-button {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0.2rem;
    right: 0.625rem;
    padding: 0.3125rem 0.3125rem;
    color: -apple-system-foreground;
    border: none;
    cursor: pointer;
    border-radius: 0.3125rem;
    font-size: 1.3rem;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

#markdown-rendered .code-block-wrapper:hover .copy-code-button {
    opacity: 1;
}

#markdown-rendered .copy-code-button.copied {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#markdown-rendered .copy-code-button i {
    pointer-events: none; /* Prevents the icon from blocking click events */
}

#markdown-rendered>*:first-child {
    margin-top: 0 !important;
}

#markdown-rendered>*:last-child {
    margin-bottom: 0 !important;
}
